// ignore_for_file: unnecessary_cast
{% for class in classes -%}
{%- if class.type_parameters | length > 0 %}
  {%- set joined_types = class.type_parameters | join(sep=", ") %}
  {%- set type_args = "<" ~ joined_types ~ ">" %}
{%- else %}
  {%- set type_args = "" %}
{%- endif %}
{%- if class.from_json %}
{{ class.name }}{{ type_args }} _${{ class.name }}FromJson{{ type_args }}(
  Map<String, dynamic> json,
{%- for t in class.type_parameters %}
  {{ t }} Function(Object? json) fromJson{{ t }},
{%- endfor %}
) => {{ class.from_json.constructor }}(
{%- for arg in class.from_json.arguments %}
      {% if arg.name %}{{ arg.name }}: {% endif %}{{ arg.value }},
{%- if loop.last %}
    {% endif %}
{%- endfor %}){% for cascade in class.from_json.cascades %}
      ..{{ cascade.name }} = {{ cascade.value }}{% endfor %};
{%- endif %}
{% if class.metadata | get(key="createToJson", default="true") != "false" %}
Map<String, dynamic> _${{ class.name }}ToJson{{ type_args }}(
  {{ class.name }}{{ type_args }} instance,
{%- for t in class.type_parameters %}
  Object? Function({{ t }} value) toJson{{ t }},
{%- endfor %}
) => <String, dynamic>{
{%- for field in class.json_members %}
{%- set include_if_null = field.metadata | get(key="includeIfNull", default="true") %}
{%- if include_if_null == "false" %}
  if (instance.{{ field.name }} != null)
  {%- set indent = "        " %}
{%- else %}
  {%- set indent = "      " %}
{%- endif %}
{%- if field.metadata.toJson is defined %}
{{ indent }}'{{ field.metadata | get(key="name", default=field.name) }}': {{ field.metadata.toJson }}(instance.{{ field.name }}),
{%- else %}
{{ indent }}'{{ field.metadata | get(key="name", default=field.name) }}': {{ field.to_json_expr }},
{%- endif %}
{%- endfor %}
    };
{%- endif %}
{%- if not loop.last %}
{% endif %}
{%- endfor %}

{% for map in enum_maps -%}
const {{ map.map_name }} = {
{%- for val in map.values %}
  {{ map.type_name }}.{{ val.name }}: {% if val.literal %}{{ val.literal }}{% else %}'{{ val.name }}'{% endif %},
{%- endfor %}
};
{% endfor %}
